* {
    font-family: 'FF Mark W05', sans-serif;
    font-weight: 800;
}

#game {
    text-align: center;
}

#championImage{
    height: 85vh;
    border-radius: 5px;
    max-width: 90vw;
}

.animationCorrect:before {
    --size: max(100vw, 100vh);
    /* z-index: -1; */
    content: '';
    position: fixed;
    display: block;
    top: calc((100vh - var(--size)) / 2);
    left: calc((100vw - var(--size)) / 2);
    width: var(--size);
    height: var(--size);
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #62e901;
    animation: pulse-ring 1.25s cubic-bezier(0.2, 0.6, 0.35, 1) forwards;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  90%, 99% {
	transform: scale(1);
    opacity: 0;
  }
  100% {
	transform: scale(0);
	opacity: 0;
  }
}

h1 {
    font-size: 5rem;
    margin: 5px;
    margin-bottom: 20px;
}

#scoreboard {
    position: fixed;
    top: 10px;
    right: 15px;
}

#score {
    font-size: 5rem;
}

#imageRow {
    margin-bottom: 10px;
}

html {
    background-color: rgb(32, 32, 32);
    color: white;
}

input[type=text] {
    background-color: white;
    border-style: none;
    border-radius: 5px;
    width: auto;
    font-size: 3rem;
    max-height: 10vh;
    padding: 10px;
}