* {
    font-family: Fantasy;
}

#game {
    text-align: center;
}

#championImage{
    height: 85vh;
    border-radius: 5px;
}

h1 {
    font-size: 5rem;
    margin: 5px;
    margin-bottom: 20px;
}

#score {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 5rem;
}

#imageRow {
    margin-bottom: 10px;
}

html {
    background-color: rgb(32, 32, 32);
    color: white;
}

input[type=text] {
    background-color: white;
    border-style: none;
    border-radius: 5px;
    width: auto;
    font-size: 3rem;
    max-height: 10vh;
    padding: 10px;
}